################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StayLoggedIn/bin/Debug/netcoreapp3.1
/StayLoggedIn/obj
/.vs/StayLoggedIn
